.homepage {
  padding-top: 3em;
}

.landing {
  display: flex;
  min-height: calc(100vh - 5em);
}

.description {
  width: 60%;
  position: relative;
  text-align: left;
}
.description img {
  padding-left: 4em;
  width: calc(100% - 3em);
  max-width: 70em;
}
.description .text {
  position: absolute;
  left: min(4em + 28%, 23.6em);
  top: 60%;
}

.sidePhoto {
  width: 40%
}

a.text-link {
  text-decoration: none;
  position: relative;
  color: #0D1B2A;
}
a.text-link::after {
  content: "";
  background-color: rgba(252, 119, 83, 0.5);
  width: calc(100% + 0.2em);
  height: 30%;
  position: absolute;
  left: -0.1em;
  bottom: 0.1em;
  transition: ease-out 0.25s;
}

a.text-link:hover::after {
  height: 87%;
}

a.icon-link {
  color: #A9AFB6;
  margin-right: 0.5em;
  font-size: 20px;
  transition: ease-in 0.1s; 
}
a.icon-link:hover {
  color: #0D1B2A;
}

.hp-accomplish {
  margin: 0em 10%;
}